CompileFlags:
  Remove: [-rdc=true, -forward-unknown-to-host-compiler, -Xcompiler=*, --generate-code=*, --options-file]
  Add: [-isystem, /home/linuxbrew/.linuxbrew/opt/python@3.13/include/python3.13, -isystem, /home/s/projects/tiny-ml-lib/extern/pybind11/include]
