*.cpp linguist-language=C++
*.h linguist-language=C++
*.cmake linguist-language=CMake

CMakeLists.txt linguist-detectable=true
CMakeLists.txt linguist-language=CMake
*.cmake linguist-detectable=true

*.md lingust-documentation=false
