*.cpp linguist-language=C++
*.h linguist-language=C++
*.cu linguist-language=CUDA

*.cmake linguist-detectable=false
*.cmake linguist-language=CMake

CMakeLists.txt linguist-detectable=false
CMakeLists.txt linguist-language=CMake

*.md linguist-documentation=false
